.git
.github
.next
backups
coverage
data/private
dist
docs
imports/private
node_modules
prototypes
templates
tmp
uploads
*.docx
*.log
*.xlsx
!templates/
!templates/import/
!templates/import/Шаблон_массового_импорта.xlsx
